h3 All events
ul
   each event in others
        li(class=event.inThePast ? "inThePast": "")
            a(href=`${event.link}`)
                img(src="images/events/event1.png")
                .status #{event.status}
                .info
                    figure
                        .month #{event.month}
                        .day #{event.day}
                    .description
                        h5 Monthly meetup
                        p #{event.summary}
