.eventBox
    .topRow
        section
            h3 Hamburg Meet-Up
            p #{featured.summary}
            .status #{featured.status}
        figure
            .month #{featured.month}
            .day #{featured.day}
    a.location(href=`${featured.link}`)
        img(src="/images/location.svg")
        span #{featured.location}
        img(src="/images/external.svg")